<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <RollingFile name="file-info-log" fileName="${log-path}/logfile-info.log"
                     filePattern="${log-path}/logfile-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="file-debug-log" fileName="${log-path}/logfile-debug.log"
                     filePattern="${log-path}/logfile-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="de.dog2.log4j2" level="debug" additivity="false">
            <appender-ref ref="file-info-log" level="info"/>
            <appender-ref ref="file-debug-log" level="debug"/>
            <appender-ref ref="console-log" level="info"/>
        </Logger>
        <Root level="debug" additivity="false">
            <AppenderRef ref="console-log" level="info"/>
            <AppenderRef ref="file-info-log" level="info"/>
            <AppenderRef ref="file-debug-log"/>
        </Root>
    </Loggers>
</Configuration>